@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* Global Styles */
body {
  font-family: 'Poppins', sans-serif; 
  margin: 0;
  padding: 0;
  background: url('../assets/img/bg3.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
}

.icon {

  max-width: 40px;
  max-height: 40px;
  border: none!important;
  box-shadow:none!important;
  flex-direction: column!important;
}

.svg-icon {
  width: 50px;
  border: none!important;
  margin:none;
  box-shadow:none!important;
}
.svg-ada {
  max-width: 100px;
  max-height: 100px;
  border: none!important;
  margin:none;
  box-shadow:none!important;
}

.icon-skills{
  max-width: 42px;
  max-height:50px ;
  border-radius: 20%;

}
.div-skill{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* Header Section */
header {
  background-color: rgba(109, 104, 117, 0.7);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

header img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 10px;
}


header .header-text h1 {
  font-size: 32px;
  margin: 10px 0;
  font-weight: 600;
}

header .header-text h1 a {
  color: #fff;
  text-decoration: none;
  border: none;
}

header .header-text ul {
  list-style: none;
  padding: 0;
}

header .header-text ul li {
  margin: 5px 0;
  list-style: none;
}
.presentation{
  text-align:justify;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 10px;
}
.profile-photo{
  width: 18%; 
  height: 18%;
}
@media (max-width: 600px) {
  .presentation {
    padding-left: 20px; 
    padding-right: 20px; 
    font-size: 12px;
  }
  header .header-text h1 {
    font-size: 25px;
  }
  .profile-photo{
    width: 35% ; 
    height:35%;
  }
  .element {
    display: flex;
    flex-direction: column; 
    align-items: center;
    overflow-x: hidden;
    margin: none;
  }
  .skills-list {
    padding: 10px;
    max-width:70%;
  }
  .skills-list img {
    max-width: 250px;
    height: auto;
  }
  .skills h2 {
    font-size: 24px;
  }
  .skills-p {
    padding-left: 5px;
    padding-right: 5px;
  }
  .icon-skills {
    max-width: 50px;
    max-height: 50px;
  }
  .form-container {
    min-width: 80%; 
    margin-top: 10px;
    margin-bottom: 10px; 
  }
  .form-container h2{
    font-size: 20px;
  }
  .pn {
    flex-direction: column; /* Aligne les éléments en colonne sur les petits écrans */
  }

  .pn p {
    margin: 10px 0; /* Ajoutez une marge verticale pour espacer les éléments */
    text-align: left!important;
    background-color: transparent!important;
  }
}
.index{
  overflow-x: hidden;
}
/* Links Styles */
a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: white;
    box-shadow:none;
}

/* Projects Section */
.projects-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center;
  flex-direction: column;
}

.project-item {
  background-color: rgba(229, 152, 155, 0.7);
  margin: 20px;
  border-radius: 10px;
  overflow-x: hidden;
  text-align: center;
  padding: 10px;
  align-items: center;
  max-width: 350px; /* Limite la largeur des éléments */
}

.project-item img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
.project-item img:hover {
  box-shadow:
  0 0 8px #ffcad4,
  inset 0 0 8px #ffcad4,
  0 0 16px #ff70a5,
  inset 0 0 16px #ff70a5,
  0 0 32px #ff70a5,
  inset 0 0 32px #ff70a5;
    
}

.project-item h3 {
  font-size: 24px;
  margin-top: 10px;
  color: #fff;
}

.project-item p {
  margin: 10px 0;
}

.project-item a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  border-radius: 5px;
}

/* Skills Section */
#skills{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 0;
}
.skills-list {
  width: 80%;
  background-color: #d2a19db3;
  border-radius: 10px;
  padding: 20px;
}
.skills-p {
  padding-left: 10px;
  padding-right: 10px;
}
.skills h2 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 10px;
}



button{
  width : 190px;
  height : 50px;
  margin-bottom : 15px;
  border : none;
  border-radius : 5px;
  color: #fff;
  text-shadow : 0px 1px 0px #888;
  transition : background-color ease-in-out 0.4s; 
}
.element{
  gap: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: 'Rubik', sans-serif;
  align-items: center;
}

.btn-projets{
  width : 100%;
  height : 100%;
  border : none;
  border-radius : 5px;
  color: #ffffff;
  transition : background-color ease-in-out 0.5s; 
  background-color : #f68fa0;
  text-decoration: none;
  padding: 10px 30px 10px;
}
.btn-skills{
  width : 100%;
  text-decoration: none;
  height : 100%;
  border : none;
  border-radius : 5px;
  color: #fff;
  transition : background-color ease-in-out 0.5s; 
  background-color : #FFB4A2;
  padding: 10px 30px 10px;
}
button:hover{
  background-color : transparent ;
  cursor: pointer;
}

.btn-projets:hover{
  background-color : transparent ;
  color : #f68fa0;
  background-color : #ecc8ce;
}
.btn-skills:hover{
  background-color : #f3e8e5;
  color : #FFB4A2;
}

/* Footer Section */
footer {
  background-color: rgba(109, 104, 117, 0.7);
  width:100%;
  flex-direction: column;
  display: flex;
  padding: 20px; 
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.form-container {
  background-color: rgba(109, 104, 117, 0.7);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.contact-form h2 {
  margin: 0;
  text-align: center;
  color: #fff;
}

.contact-form label {
  color: #fff;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #bbb;
}

.contact-form textarea {
  resize: none;
}

.btn-contact {
  background-color: #656578;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}
.btn-contacts {
  background-color: #565661;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}
.btn-contact:hover {
  background-color: #5c5873;
}
.btn-contacts:hover {
  background-color: #413e52;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.pn {
  display: flex; /* Utilisez Flexbox pour aligner les éléments en ligne */
  flex-wrap: wrap; /* Permet le retour à la ligne */
  justify-content: space-around; /* Espace égal entre les éléments */
  align-items: center; /* Centre les éléments verticalement */
}

.pn p {
  height: 150px;
  width: 200px;
 /* Ajoutez une marge horizontale pour espacer les éléments */
  flex: 1 1 calc(33.333% - 20px); /* 3 éléments par ligne avec marge */
  box-sizing: border-box; /* Inclut la marge dans la taille totale */
  margin-right: 10px;
  margin-left: 10px; ;
  background-color:#c47f78b3; /* Ajoutez une bordure autour des éléments */
  border-radius: 5px; /* Ajoutez des coins arrondis à la bordure */
}
